<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
		<form class="form-inline my-2 my-lg-0">
			
			<button id="SOIBTN_BalaParanj" style="background: #006DAF; color: #ffffff; padding: 10px 20px; border: 1px solid #c8c8c8; font: bold 18px Arial; cursor: pointer;" data-height="580" data-psz="00" data-so-page="BalaParanj" data-delay="1">Schedule a Free Consultation</button>
			<script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>
								
		    </form>
  </div>
	
</nav>





